{% extends 'base.html.twig' %}
{% block title 'Accueil ' %}
{% block body %}
    <!-- Affichage des infos demandés sur la page d'accueil -->
    <div class="container">
        <div class="text-right">
            <p><u>Participant</u> : {{ app.user.prenom }} {{ app.user.nom|first }}.</p>
            <p><u>Date du jour</u> : {{ "now"|date("d/m/Y", "Europe/Paris") }}</p>
        </div>
    </div>

    <!-- Début de l'affichage des filtres -->
    {% include 'home/inc/_filtre.html.twig' %}

    <!-- Début de l'affichage des sorties -->
    {% include 'home/inc/_listingSorties.html.twig' %}

{% endblock %}