<div class="container mt-5 mb-5 row">

{{ form_start(form) }}

<div class="col-lg-6 col-md-6 mx-auto row">
    <div class="form-group">
        {{ form_row(form.nomCampus) }}
        <div class="col-lg-12 col-md-6">
            <p class="form-group">
                <button class="btn btn-success">Valider</button>
            </p>
        </div>
    </div>
</div>



{{ form_end(form) }}
</div>