<nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar transparent">
    <div class="container">
        <img src="{{ asset('img/others/favicon-32x32.png') }}" width="32" height="32">
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}

                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Villes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Campus</a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ path('home') }}">Accueil</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Mon profil</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ path('logout') }}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>